/* VARIABLES */
$primary-color:#303F9F;
$secondary-color:#004D40;

body{
    margin: 0;
    font-weight: 300;
    text-align: center;
}

/* Head Elements*/
ul, li, a{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
header{
    background: $secondary-color;
    color: lighten($secondary-color, 25%);
    padding:2% 0 ;
    font-size: 1.3rem;
    position: relative;
    z-index: 2;
    box-shadow: 0 5px 50px black;
}
/* Classes */

/* Category's */

.category-container{
    position: relative;
    margin: 5% 0;
    justify-content: center;
    display: flex;
}
.category-wrapper{
    display: inline-block;
    height: 25hw;
    width: 25vw;
}
.category-name{

    position: relative;
    width: 100%;
    bottom: 100%;
    text-align: center;
}
.category-link{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}
.flashes{
    li {
        label{
            display: block;
            div{
                color: lighten($primary-color, 30%);
                background: $primary-color;
                text-align: center;
                font-size: 1.5rem;
                width: 100%;
                height: 100%;
            }
            input{
                position: absolute;
                opacity: 0;
            }
            input:checked ~ div,{
                height: 0;
                opacity: 0;
            }
        }
    }

}

// post

.post{
    height: 25vw;
    position: relative;
    vertical-align: middle;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    article, div, a{
        position: absolute;
        right: 0;
        width: 40%;
        transition: 2s;
    }
    a{
        left: 0;
        width: 1%;
        border-radius: 0 10% 10% 0;
        height: 100%;
        background: green;
    }

    div{
        display: block;
        height: 100%;
        background: grey;
        opacity: 0.5;
        border-left: 1px solid black;
        &:hover, &:hover ~ article{
            width: 80%;
            opacity: 0.8;
        }
        &:hover ~ a{
            width: 20%;
            border-radius: 0;
        }
    }


}



/* Id's */
