/* VARIABLES */
$primary-color:#303F9F;
$secondary-color:#004D40;
$dark-primary-color:#1A1918;
*{
    margin: 0;
    font-weight: 300;
    text-align: center;
}
body{
    background: $dark-primary-color;
}
/* Head Elements*/
ul, li, a{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
/* Classes */

/* Category's */

.category-container{
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.category-wrapper{
    position: relative;
    height: 25vw;

    transition: all 1s;
    flex-basis: 25%;
    flex-grow: 1;
    // width: 33%;

    &:hover{
        z-index: 5;
        box-shadow: 0 0 100px 10px $dark-primary-color;
        transition: all 1s;
        max-width: 40%;
        flex-grow: 2;
        span{
            opacity: 0;
        }
    }
    span{
        transition: all 1s;
        position: absolute;
        background: #414141;
        height: 100%;
        width: 100%;
        opacity: 0.7;
    }
    content{
        text-align: center;
        width: 100%;
        position: absolute;
        margin: 4% 0;
        h1{
            color: white;
            width: 90%;
            display: inline-block;
        }
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.flashes{
    li {
        label{
            display: block;
            div{
                color: lighten($primary-color, 30%);
                background: $primary-color;
                text-align: center;
                font-size: 1.5rem;
                width: 100%;
                height: 100%;
            }
            input{
                position: absolute;
                opacity: 0;
            }
            input:checked ~ div,{
                height: 0;
                opacity: 0;
            }
        }
    }
    .success{
        background: green;
        color: darken(green, 10%);
    }

}

// post

.post{
    height: 25vw;
    position: relative;
    vertical-align: middle;
    header{
        background: $secondary-color;
        color: lighten($secondary-color, 25%);
        padding:2% 0 ;
        font-size: 1.3rem;
        position: relative;
        z-index: 2;
        box-shadow: 0 5px 50px black;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    article, div{
        color: white;
        position: absolute;
        width: 100%;

    }
    article{
        margin: 4% 0;
        button{
            font-size: 1.5rem;
            display: block;
            margin: 2% auto;
            border: 1px solid black;
            background: none;
            &:hover{
                background: black;
                color: white;
            }
        }
    }
    div{
        background: #9B8645;
        opacity: 0.8;
        width: 100%;
        height: 100%;
    }
}
.hero{
    nav{
        height: 100%;
        width: 10%;
        position: absolute;
        text-align: center;
        a{
            position: relative;
            font-family: 'Roboto Slab', serif;
            top: 50%;
            margin: 5% 0;
            color: white;
            display: block;
            &:active{
                content: '→';
            }
        }
    }
    img{
        display: block;
        object-fit: cover;
        height: 100vh;
        width: 100%;
    }
    div{
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

.project{
    background: $dark-primary-color;
    padding: 2% 0;
    li{
        text-align:center;
        margin: 2% 0px;
        position: relative;
        height: 70vh;
        width: 100%;
    }
    img{
        height: 100%;
        width: 90%;
        float: right;
        display: inline-block;
        object-fit: cover;
        z-index: -2;
    }
    div{
        position: absolute;
        right: 0;
        z-index: 1;
        width: 25%;
        margin-right: 20%;
        height: 100%;
        display: block;
        justify-content: center;
        h1{
            background: darken($secondary-color, 5%);
            margin-top: 10%;

            position: relative;
            display: block;
            vertical-align: middle;
            box-shadow: 0 5px 20px -2px;
        }
        content{
            display: relative;
            height: 90%;
            display: block;
            margin-top: 10%;
        }
    }
    div:before {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $secondary-color;
    opacity: .9;
    }
}
.admin_item_list{
    position: relative;
    display: block;
    margin: .5% 0;
    h4{
        display: inline-block;
        width: 10%;
        background: white;
        color: $primary-color;

    }
    a{
        border: none;
        position: absolute;
        display: inline-block;
        width: .5%;
        height: 100%;
        background: red;
        transition: all 2s;

        color: red;
        overflow: hidden;
        &:hover{
            width: 5%;
            color: darken(red, 30%);
        }
        &:active{
            background: green;
        }
    }
    & + a{
        display: inline-block;
        width: 10%;
        background: green;
        color: red;

    }
}

/* Id's */
