{% extends "layout.html" %}
{% block main %}
<ul>
    {% for category in categorys %}
    <li class='admin_item_list'>
        <h4> {{category.name}} </h4>
        <a href="{{url_for('delete_item', model='Category', id=category.id, name=category.name)}}"> Delete</a>
    </li>
    {% endfor %}
    <a href="{{url_for('create_item', model='Category')}}">Create new Category</a>
</ul>

<ul>
    {% for post in posts %}
    <li class='admin_item_list'>
        <h4>{{post.title}}</h4>
        <a href="{{url_for('delete_item',model='post', id=post.id, name=post.title)}}">Delete</a>
    </li>
    {% endfor %}
    <a href="{{url_for('create_item', model='post')}}">Create new Category</a>
</ul>
{% endblock %}
