{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block main %}
<header>
    Austin's Blog
</header>

<!-- First post -->
<li>
    {% set first_post = posts.get().id %}
    <header>
        {{posts.get().title}}
    </header>
    <article>
        {{posts.get().content}}
    </article>
</li>


<!-- Display All categorys -->
<a href="create_post"> create post link</a>
<ul class='category-container'>
    {% for category in categorys %}
        <li class='category-wrapper'>
            <a class='category-link'href="{{ url_for('category',category=category.name) }}">            <img src="static/{{category.imagepath}}" alt=""></a>

            <div class='category-name'> {{category.name}} </div>
        </li>
    {% endfor %}
</ul>


<!-- All posts besides first post -->
<ul>
    {% for post in posts %}
        {% if post.id != first_post%}
            <li class='post'>
                <div>  </div>
                <a href="#"> View Blog Post</a>
                <article>
                    <h1>{{post.title}}</h1>
                    bla bla bla
                </article>

                <img src="static/category/cad.jpg" alt="">
            </li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock %}
