{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block main %}
<header class='hero'>
        {% set first_post = posts.get().id %}
        <nav>
            <a href="#">Home</a>
            <a href="#">Portfolio</a>
            <a href="#">Contact</a>
        </nav>
        <div>  </div>
        <img src="static/category/books.jpg" alt="">
</header>

<!-- First post -->



<!-- Display All categorys -->
<ul class='category-container'>
    {% for category in categorys %}
        <li class='category-wrapper'>
            <span>  </span>
            <content> <h1>TEXT HERE</h1> </content>
            <img src="static/{{category.imagepath}}" alt="">
        </li>
    {% endfor %}
</ul>

<!-- All posts besides first post -->
<!-- <ul>
    {% for post in posts %}
        {% if post.id != first_post%}
            <li class='post'>
                <div>  </div>
                <article>
                    <h1>{{post.title}}</h1>
                    bla bla bla
                    <button type="button" name="button">Read More</button>
                </article>

                <img src="static/category/cad.jpg" alt="">
            </li>
        {% endif %}
    {% endfor %}
</ul> -->

<ul class='project'>
    {% for post in posts %}
        {% if post.id != first_post%}
    <li>
        <!-- display project name -->
        <!-- display project context -->
        <div>
            <h1>hello</h1>
            <content>
                dyscription
            </content>
        </div>
        <!-- display project image -->
        <img src="http://via.placeholder.com/350x300" alt="">
    </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
