{% extends "layout.html" %}
{% block main %}
<ul class='timeline'>
{% for post in project.ProjectPost.select() %}
<li><a href="#{{post.id}}"></a></li>
{% endfor %}
</ul>
{{project.name}}
<ul>
    {% for post in project.ProjectPost.select() %}
        {% if post.id % 2 != 0%}
            {% set classname = 'post_1' %}
        {% else %}
            {% set classname = 'post_2' %}
        {% endif %}
    <li class='{{classname}}'>
        <a name='{{post.id}}'></a>
        <article>
            <h1>
                {{post.name}}
            </h1>
            {{post.content}}
        </article>
        <figure>
            <img src="{{post.image}}" alt="">
        </figure>
    </li>
    {% endfor %}
</ul>


{% endblock %}
