.admin_panel{
    display: flex;
    flex-direction: row;
    margin: 5vw 5vh;
    ul{
        flex: 1 1 1%;
        flex-grow: 0;
    }

}
.post_standalone{
    display: flex;
    flex-direction: column;
    li{
        display: flex;
        flex-direction: column;
        margin: 1vw 2.5vh;
        box-shadow: 0 2px 30px $first-text-color;
        color: $first-text-color;
    }
    header{
        display: flex;
    }
    figure{
        width: 100%;
        img{
            object-fit: contain;
            width: 100%;
        }
    }
}
.post_project{
    display: flex;
    flex-direction: column;
    flex-grow: 1 !important;
    text-align: center;
    li{
        display: flex;
        flex-direction: column;
        margin: 1vw 2.5vh;
        box-shadow: 0 2px 30px $first-text-color;
        color: $first-text-color;
    }
}
.create_item{
    position: sticky;
    top: 0;
}
