*{
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
}
h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
    font-weight: 300;
}
body{
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}
/* Head Elements*/
ul, li, a{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
footer{
    height: 80vh;
}
