.form-create{
    margin-top: 2.5vh;
    width: 100vw;
    height: 90vh;
    background: white;
    color: $second-text-color;
}
#name, #content{
    margin: 2.5vh 0;
    margin-left: 5vw;
    padding: 5%;
}
#name{
    width: 40vw;
    height: 10vh;
    font-size: 80px;
}
#content{
    padding: 5vh;
    min-width: 70vw;
    max-width: 70vw;
    height: 50vh;
    text-align: center;
    font-size: 18px;
}
#media{
    width: 10vw;
}
.field{
    display: inline-block;
    margin: auto;
    width: auto;
}
#csrf_token{
    display: none;
}
