#nav_bar{
    position: sticky;
    display: flex;
    top: 0;
    width: 90vw;
    z-index: 1000;
    padding: 3vh 5vw 15vh 5vw;
    background: white;
    transition: all 900ms;
    align-items: center;
    height: auto;
    li{
        transition: all 900ms;
        height: 100%;
        display: flex;
        flex: 1 0 1%;
        justify-content: center;
        align-items: center;
        &:first-child{
            flex-grow: 10;
            display: inline-block;
            a{
                display: flex;
                flex-direction: column;
            }
        }
    }
    h1, h5{
        transition: all 900ms;
        height: auto;
    }
}
.nav_bar_fixed{
    padding-top: 0 !important;
    width: 95vw !important;
    padding: 2.5vh 2.5vw !important;
    height: auto;
    box-shadow: 0 -10px 30px 0;
    // position: sticky !important;
    h1{
        font-size: 20px !important;
        height: 100%;
        align-items: center;
        display: flex;
    }
    h5{
        font-size: 0 !important;
    }
    li:first-child{
        flex-grow: 15 !important;
    };
}
