.project_page{
    color: $second-text-color;
    h1{
        margin: 10vh 30vw;
        padding-bottom: 5vh;
        border-bottom: .01em solid $second-text-color;
        font-size: 128px;
        text-align: center;
    }
    h2{
        margin-top: .1vh;
        margin-bottom: 5vh;
        margin-left: 20vw;
        width: auto;
        border-bottom: .02em solid;
        display: inline-block;
        font-size: 48px;
    }
    figure, p{
        max-width: 60vw;
        margin: 0 auto;
    }
    p{
        width: 40%;
        margin-bottom: 30vh;
        margin-left: 20vw;
    }
    figure{
        overflow: hidden;
        width: 60%;
        position: relative;
        img{
            width: 100%;
            object-fit: cover;

        }
    }
}
// display project for main page
%project_item{
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
z-index: 5;
    img{
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -1;
    }
}
.projects{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background: $first-color;
    text-align: center;
}
.project_w{
    @extend %project_item;
    flex: 1 0 33%;
    height: 320px;
}
.project_h{
    @extend %project_item;
    flex: 1 1 25%;
    height: 640px;
}
.all_projects{
    display: flex;
    flex-flow: row wrap;
    li{
        margin: 10vh 2vw;
        flex: 1 0 33vw;
        height: auto;
        position: relative;
        box-shadow: 0 .4em 1.5em;
    }
    figure{
        height: 100%;
        overflow: hidden;
    }
    img{
        width: 100%;
        object-fit: cover;
    }
    h2{
        position: absolute;
        top: 45%;
        width: 100%;
        align-content: center;
        text-align: center;
    }
}
