%project{
    margin: 10vh 10vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: $second-text-color;
    header{
        position: relative;
        flex-grow: 1.3;
        text-align: center;
        height: 100%;
        flex-basis: 60%;
        transition: all 2s;
        h3{
            margin: 5vh 0;
            font-size: 4em;
        }
    }
    header, figure{
        flex: 1 1 0;
        min-width: 0;
        text-overflow: ellipsis;
        // margin: 0 .5vw;
    }
    p{
        overflow: hidden;
    }
    figure{
        display: flex;
        align-self: center;
        transition: all 600ms;
        height: 100%;
        img{
            overflow: hidden;
            object-fit: cover;
            width: inherit;
            transition: all 300ms;
        }
        &:hover{
            position: relative;
            flex-basis: 100%;
            height: 100%;
            // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            box-shadow: 0 0 30px 0 black;
            z-index: 5;
            img{
                object-fit: contain;
            }
        }
    }
    a{
        width: 100%;
        height: 100%;
        display: flex;
    }
}
.project_l{
    @extend %project;
    margin-top: 10vw;
    background: $fouth-color;

}
.project_r{
    @extend %project;
    flex-direction: row-reverse;
    background: $firth-color;

}
.project_loader{
    flex-basis: 100% !important;
}
#projects{
    transition: all 900ms;
    position: absolute;
    height: 0;
    width: .25vw;
    border-radius: 5px;
    background: $first-text-color;
    margin-left: 4.75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    li{
        display: flex;
        justify-content: center;
        background: $second-text-color;
        color: $first-text-color;
        font-size: 2em;
        opacity: 0.6;
        transition: all 300ms;
        &:hover{
            font-size: 4em;
        }
    }
}

.projects_fixed{
    top: 0;
    height: 100vh !important;
    opacity: .7 !important;
    position: fixed !important;
    li{
        opacity: 1 !important;
    }
}
