{% extends "layout.html" %}
{% block main %}
{% from 'macros.html' import admin_item_list, admin_item_list_project %}
<ul class="admin_panel">
    <ul>
        <a href="#"><li>Home</li></a>
        <li>Projects <a href="{{url_for('create_p', id=0)}}">create</a> </li>
        <li>Posts <a href="{{url_for('create_p')}}">create</a> </li>
    </ul>


    <ul class="admin_display_panel">
    {% for post in posts %}
    <li>
        <h3>{{post.name}}</h3>
        <p>
            {{post.content}}
            <footer>
                <a href="#">Edit</a>
                <a href="#">View</a>
                <a href="#">Remove</a>
            </footer>
        </p>
    </li>
    {% endfor %}
    {% for project in projects %}
    <li>
        <h3>{{project.name}}</h3>
        <p>
            {{project.content}}
            <footer>
                <a href="{{url_for('create_p', id=project.id)}}">Add</a>
                <a href="#">Edit</a>
                <a href="#">View</a>
                <a href="#">Remove</a>
            </footer>
        </p>
    </li>
    {% endfor %}
    </ul>
</ul>
{% endblock %}
