{% extends "layout.html" %}
{% block main %}
{% from 'macros.html' import admin_item_list, admin_item_list_project %}
<ul class="admin_panel">

    <ul>
        <a href="#"><li>Home</li></a>
        <li>Projects <a href="#">create</a> </li>
        <li>Posts <a href="{{url_for('create_post', id=0)}}">create</a> </li>
    </ul>


    <ul class="admin_display_panel">
    {% for project in projects %}
        <li>
            <h3>{{project.name}}</h3>
            <p>
                {{project.content}}
            </p>
                <footer>
                    <a href="{{url_for('create_post', id=project.id)}}">Add</a>
                    <a href="#">Edit</a>
                    <a href="#">View</a>
                    <a href="#">Remove</a>
                </footer>

        </li>
        <!-- render posts from project -->
            {% for post in project.posts() %}
                <li id='project_post'>
                    <h3>{{post.name}}</h3>
                    <p>
                        {{post.content}}
                        {{project.name}}
                    </p>
                        <footer>
                            <a href="#">Edit</a>
                            <a href="#">View</a>
                            <a href="#">Remove</a>
                        </footer>
                </li>
            {% endfor %}
    {% endfor %}
    <!-- Render posts -->
    {% for post in posts.standalone() %}
    <li>
        <h3>{{post.name}}</h3>
        <p>
            {{post.content}}
        </p>
            <footer>
                <a href="#">Edit</a>
                <a href="#">View</a>
                <a href="#">Remove</a>
            </footer>
    </li>
    {% endfor %}
    </ul>
</ul>
{% endblock %}
