{% extends "layout.html" %}

{% block title %}All Projects{% endblock %}
{% block main %}
{{nav()}}
<ul class="all_projects">
    {% for project in projects %}
        {% if project.media_url() %}
            <li>
                <a href="{{url_for('project', id=project.id)}}">
                <figure>
                    <img src="{{project.media_url()}}" alt="Image from project {{project.name}}">
                </figure>
                <h2>{{project.name}}</h2>
                </a>
            </li>
        {% endif %}
    {% endfor %}

</ul>

{% endblock %}
