{% extends "layout.html" %}

{% block title %}All Projects{% endblock %}
{% block main %}
<section class='section'>
    <nav>
        
    </nav>
    <ul class="all_projects">
        {% for project in projects.select() %}
        <li>
            <article class="overlay">
                <!-- display project name -->
                <h2>{{project.name.upper()}}</h2>
                <!-- display project context -->
                <p>{{project.content}}</p>
                <button> <a href="{{url_for('project', id=project.id)}}">More about the {{project.name}} project</a> </button>
            </article>
                <!-- display project image -->
                {%if project.image() %}
                    <img src="{{project.image()}}" alt="Image from {{project.name}}">
                {% endif %}
        </li>
        {% endfor %}

    </ul>
</section>

{% endblock %}
