
<html lang="en">
    <head>
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/styles.css') }}">
        <!-- Website Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,400" rel="stylesheet">
        <!-- end website fonts -->

<!-- fullscreen  -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/jquery.fullPage.css') }}" />

        <script src="{{ url_for('static', filename='styles/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='styles/js/jquery.fullPage.js') }}"></script>
<!-- end fullscreen -->
        <link rel="shortcut icon" type="image/png" src="{{ url_for('static', filename='styles/falcon.png') }}">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118156253-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

            gtag('config', 'UA-118156253-1');
        </script>

        <script type="text/javascript">
                $(document).ready(function() {
            	        $('#fullpage').fullpage();
                });
        </script>

        <title>{% block title %}{% endblock %} | Austin's Blog</title>
    </head>
    <body>

{% block flash %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class='flashes'>
                {% for category, message in messages %}
                <li>
                    <label>
                        <input type="checkbox">
                        <div class={{category}}>  {{message}} | {{ category }}</div>
                    </label>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
<nav>
    <ul>
        <a href="#"><h4>Home</h4></a>
        <a href="#"><h4>Portfolio</h4></a>
        <a href="#"><h4>Blog Posts</h4></a>
        <a href="#"><h4>About me</h4></a>
        <a href="#"><h4>Contact</h4></a>
    </ul>
</nav>

</ul>
<div id="fullpage">
    {% block main %}

    {% endblock %}
    <!-- <footer class="section"></footer> -->
</div>


    </body>
</html>
