<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/styles.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118156253-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

            gtag('config', 'UA-118156253-1');
        </script>

        <title>{% block title %}{% endblock %} | Austin's Blog</title>
    </head>
    <body>

{% block flash %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class='flashes'>
                {% for category, message in messages %}
                <li>
                    <label>
                        <input type="checkbox">
                        <div class={{category}}>  {{message}} | {{ category }}</div>
                    </label>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
    {% block main %}
    <nav>
        <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
        </ul>
    </nav>
    {% endblock %}
    <footer></footer>
    </body>
</html>
