<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- description -->
        <meta name="description" content="Austin Bakker's Blog, Portfolio, and Project's">
        <!-- Website Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,500" rel="stylesheet">
        <!-- end website fonts -->

        <link rel="shortcut icon" href="{{ url_for('static', filename='styles/favicon.ico') }}" type="image/x-icon">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118156253-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

            gtag('config', 'UA-118156253-1');
        </script>

                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/styles.css') }}">

                 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>{% block title %}{% endblock %} | Austin Bakker's Blog</title>
    </head>
    <body>

{% block flash %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class='flashes'>
                {% for category, message in messages %}
                <li>
                    <label>
                        <input type="checkbox">
                        <div class={{category}}>  {{message}} | {{ category }}</div>
                    </label>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

</ul>

{% from "macros.html" import nav %}
    {% block main %}

    {% endblock %}



    </body>
</html>
<script type="text/javascript" src="{{ url_for('static', filename='styles/js/header.js') }}"></script>
