{% macro render_field(field) %}
    <div class="field">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="notification error">{{ error }}</div>
            {% endfor %}
            {% endif %}
        {{ field(placeholder=field.label.text) }}
    </div>
{% endmacro %}

{% macro admin_item_list(modellist) %}
<ul>
    {% for modelname in modellist.select() %}
    <li>
        <!-- title -->
        <h4>{{modelname.name}}</h4>
        <!-- delete function -->
        <a href="{{url_for('delete_item',model=modelname._meta.table_name, id=modelname.id, name=modelname.name)}}">Delete</a>
    </li>
    {% endfor %}
    <!-- create new item -->
    <a href="{{url_for('create_item', model=modellist._meta.table_name)}}">
        Create new {{modellist._meta.table_name}}
    </a>
</ul>
{% endmacro %}

{% macro admin_item_list_project(modellist) %}
<ul>
    {% for modelname in modellist.select() %}
    <li class='admin_item_list'>
        <h4><a href="{{url_for('create_item', model=modelname._meta.table_name, project_id=modelname.id)}}"></a>{{modelname.name}}</h4>
        <a href="{{url_for('delete_item',model=modelname._meta.table_name, id=modelname.id, name=modelname.name)}}">Delete</a>
    </li>
    {% endfor %}
    <a href="{{url_for('create_item', model=modellist._meta.table_name)}}">
        Create new {{modellist._meta.table_name}}
    </a>
</ul>
{% endmacro %}

{% macro ppost(posts) %}

    {% for post in posts %}
    <!-- <section class='section'> -->
        <li class="{{loop.cycle('post_1', 'post_2') }}">
            <a name='{{post.id}}'></a>
            <article>
                <h2>{{post.name}}</h2>
                <p>{{post.content}}</p>
                <footer>{{posts.get().created_date|datetimeformat}}</footer>
            </article>
            <figure>
                    <img src="{{post.image}}" alt="Image from {{post.name}}">
            </figure>
        </li>
    <!-- </section> -->
    {% endfor %}

{% endmacro %}

{% macro nav() %}

<nav id='nav_bar'>
        <li><a href="{{url_for('main')}}">
            <h1>Austin Bakker</h1>
            <h4>Industele product ontwerper</h4>
            <h4>Fullstack web dev</h4>
        </a></li>
        <li><a href="{{url_for('project', id=0)}}"> <h4>My projects</h4> </a></li>
        <li><a href="/#blog"> <h4>Blog</h4> </a></li>
        <li><a href="{{url_for('about')}}"> <h4>About me</h4> </a></li>
        <li><a href="{{url_for('about')}}"> <h4>Contact</h4> </a></li>
</nav>

<script type="text/javascript" src="{{ url_for('static', filename='styles/js/nav_bar.js') }}"></script>
{% endmacro %}
