{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block main %}
{% from "macros.html" import ppost %}
<section class="section">
    <header class="hero">
        <h1>Austin Bakker</h1>
    </header>
</section>

<section class='section'>

    <ul class="project">
        <a id='More_projects' href="#">More projects</a>
        {% for project in projects.select() %}
        <li>
            <!-- display project name -->
            <!-- display project context -->
                <span>
                    <h2>{{project.name.upper()}}</h2>
                    <p>
                        {{project.content}}
                    </p>
                </span>
            <!-- display project image -->
                {%if project.image() %}
                    <img src="{{project.image()}}" alt="Image from {{project.name}}">
                    <!-- link for post -->
                    <a href="{{url_for('project', id=project.id)}}"></a>
                {% endif %}
        </li>
        {% endfor %}
    </ul>

</section>

{{ ppost(posts) }}

{% endblock %}
