{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block main %}
<section class="section">
    <header class="hero">
        <h1>Austin Bakker</h1>


    </header>
</section>

<section class='section'>
    <ul class="project">
        {% for project in projects %}
        <li>
            <!-- display project name -->
            <!-- display project context -->
            <div>
                <span>
                    <h1>{{project.name}}</h1>
                    <content>
                        {{project.content}}
                    </content>
                    <a href="{{url_for('project', id=project.id)}}">Lees meer</a>
                </span>

            </div>
            <!-- display project image -->
            <img src="{{project.image()}}" alt="">
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
