{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block main %}
<header class='hero'>
        <nav>
            <a href="#">Home</a>
            <a href="#">Portfolio</a>
            <a href="#">Contact</a>
        </nav>
        <div>  </div>
        <img src="static/category/books.jpg" alt="">
</header>

<!-- First post -->



<!-- Display All categorys -->
<ul class='category-container'>
    {% for category in categorys %}
        <li class='category-wrapper'>
            <content> <h1>{{category.name}}</h1> </content>
            <figure>
                <img src="static/{{category.image}}" alt="">
            </figure>

        </li>
    {% endfor %}
</ul>

<ul class='project'>
    {% for project in projects %}
    <li>
        <!-- display project name -->
        <!-- display project context -->
        <div>
            <span>
                <h1>{{project.name}}</h1>
                <content>
                    dyscription
                </content>
            </span>
            <a href="{{url_for('project', id=project.id)}}">Lees meer</a>
        </div>
        <!-- display project image -->
        <img src="{{project.get_posts().get().image}}" alt="">

    </li>
    {% endfor %}
</ul>
{% endblock %}
