{% extends "layout.html" %}
{%block title%} {{project.name}} {% endblock %}
{% block main %}
{% from "macros.html" import postmedia %}
<section class='project_page'>
<h1>{{project.name}}</h1>

{% for post in project.posts() %}
    <li class="{{ loop.cycle('post_1', 'post_2') }}">
        <a name='{{post.id}}'></a>
        <figure>
            {{postmedia(post)}}
        </figure>
        <article>
            <h2>{{post.name}}</h2>
            <p>{{post.content}}</p>
        </article>
    </li>
{% endfor %}
</section>


{% endblock %}
