{% extends "layout.html" %}
{%block title%} {{project.name}} {% endblock %}
{% block main %}
<section class='section'>
<h1>{{project.name}}</h1>
<p>{{project.content}}</p>

</section>

{% for post in project.posts() %}
<section class='section'>
    <li class="{{ loop.cycle('post_1', 'post_2') }}">
        <a name='{{post.id}}'></a>
        <article>
            <h2>{{post.name}}</h2>
            <p>{{post.content}}</p>
        </article>
        <figure>
            <img src="{{post.image}}" alt="image from post {{post.name}}">
        </figure>
    </li>
</section>
{% endfor %}



{% endblock %}
