{% extends "layout.html" %}
{% block main %}
{{project.name}}

    {% for post in project.get_posts() %}
    <section class='section'>
        <li class="{{ loop.cycle('post_1', 'post_2') }}">
            <a name='{{post.id}}'></a>
            <article>
                <h3>
                    {{post.name}}
                </h3>
                <p>{{post.content}}</p>
                
            </article>
            <figure>
                <img src="{{post.image}}" alt="">
            </figure>
        </li>
    </section>
    {% endfor %}



{% endblock %}
