 /* VARIABLES */
$first-color: #F3F3F3;
$second-color: #444444;
$third-color: #f0544f;
$fouth-color: #f0544f;
$firth-color: #3d405b;
$first-text-color: #000000;
$second-text-color: #444444;
$third-text-color: #FFFFFF;
// FONTS
$primary-text-font: 'Open Sans', sans-serif;
$secondary-text-font: 'Roboto', sans-serif;

@import "partials/_mixins";
@import "partials/_base";
@import "partials/_nav";
@import "partials/_flash";
@import "partials/_blog";
@import "partials/_login";



@import "partials/_project";
@import "partials/_admin";
@import "partials/_forms";

.anchor {
    position: absolute;
    top: -200px;
 }

.header_title{
    top: 0;
    display: flex;
    position: sticky;
    z-index: 100;
    width: 100%;
    height: 10vh;
    transition: all 300ms;
    color: lighten($first-text-color, 20%);
    span{
        position: relative;
        width: 50%;
        z-index: 1;
        opacity: 1;
    }
    h1{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
    }
}
.header_title_fixed{
    @extend .header_title;
    height: 5vh;
    h1{
        font-size: 1em;
        color: $first-text-color;
    }
    span{
        opacity: 0;
    }

}
#title{
    background: $second-color;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 0 0 1vh 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0;

    h1, p{
        flex: 1 0 0;
    }
    h1{
        font-size: 5em;
    }
}

#title_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    background: $second-color;
    margin: 20vh 0 0 0;
    h1{
        font-size: 8em;
        color: $third-text-color;
    }
}
