/* VARIABLES */
$primary-color:#303F9F;
$secondary-color:#004D40;
$dark-primary-color:#1A1918;
$dark-secondary-color: #465363;
$primary-text-color: #40454B;
$secondary-text-color: #ffffff;

// FONTS
$primary-text-font: 'Raleway', sans-serif;
$secondary-text-font: 'Roboto', sans-serif;

@import "partials/_mixins";
@import "partials/_base";
@import "partials/_nav";
@import "partials/_flash";
@import "partials/_post";



.post_1{
    @extend .post;
    background: white;
    color: $dark-secondary-color;
}
.post_2{
    @extend .post;
    background: $dark-secondary-color;
    color: white;
}

@import "partials/_project";
@import "partials/_admin";
@import "partials/_forms";

.header_title{
    top: 0;
    display: flex;
    position: sticky;
    z-index: 100;
    width: 100%;
    height: 10vh;
    transition: all 300ms;
    background: $dark-secondary-color;
    color: lighten($dark-secondary-color, 20%);
    @include box-shadow();
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        color: inherit;
    }
}
.header_title_fixed{
    @extend .header_title;
    height: 5vh;
    h1{
        font-size: 1em;
        color: $secondary-text-color;
    }

}
#title{
    background: #1ABC9C;
    height: 39vh;
    display: flex;
    padding: 0 0 1vh 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0;

    h1, p{
        flex: 1 0 0;
    }
    h1{
        font-size: 5em;
    }

}
